@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Task Manager</h1>
    <p>"Some blurble about the task manager"</p>
    <p><a asp-controller="Home" asp-action="AddTask">Add Task</a></p>
</div>
